body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: auto;
  position: relative;
  overflow: scroll;
  background-color: #F5F5F5; /* Light Beige */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  z-index: 2; /* Ensure header stays above welcome message */
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  color: #D32F2F;  /* Primary Color: Red */
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 10px;
}

nav ul li a:hover {
  color: #FFEB3B;  /* Secondary Color: Yellow */
  border: 2px solid #FFEB3B;  /* Accent hover border color */
}

header h1 {
  font-size: 20px;
  color: #D32F2F;  /* Primary Color: Red */
}

/* Boodle section header styles */
.boodle {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.container {
 /* Center the container */

 gap: 20px;
 padding: 50px;
 padding-left: 80px;
 justify-content: flex-end;
 margin: 0 auto;
 align-content: flex-start;
 flex-direction: row;
 flex-wrap: wrap;

}

/* Menu Item Styles */
.menu-item {
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  background-color: orangered;
  width: 300px; /* Adjust width for better alignment */
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block; /* Ensure it's block-level and aligned properly */

}

.menu-item:hover {
  transform: scale(1.05); /* Slightly enlarges the item */
  background-color: #e0e0e0; /* Change background color on hover */
}

.image {
  width: 100%;
  border-radius: 5px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.details-item {
  font-weight: bold;
}

.list {
  list-style: circle;
  padding-left: 20px;
}

.list-item {
  margin-bottom: 5px;
}
